@import url(../fonts/fonts.css);
@import url(../styles/colors.css);

:root {
    --shadow: 0 10px 20px 0 #0000001F;
    --radius: 20px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "proximanova";
    font-weight: 200;

    /* убираем подствеку при выделении */
    -webkit-user-select: none;  /* Chrome/Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE/Edge */
    user-select: none;  
}

body {
    background-color: var(--white);
    color: var(--black);      
}

.container {
    width: calc(100% - 50px);
    max-width: 1200px;
    margin: 0 auto;
}

.shadow-block {
    box-shadow: var(--shadow);
    padding: 10px;
    border-radius: var(--radius);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex {
    display: flex;
}
.alight-center {
    display: flex;
    align-items: center;
}
.between {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.p-20 {
    padding: 20px;
}
.p-10 {
    padding: 10px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.w-100 {
    width: 100%;
}
.w-70 {
    width: 70%;
}
.w-50 {
    width: 50%;
}

.el-loading-mask {
    border-radius: var(--radius);
}